
@{
    ViewBag.Title = "Bienvenido al sistema de Compras";
}

<div align="center">
    <h2><strong>@ViewBag.Title</strong></h2>
</div>
<body>


        <div class="container"  align="center">

            <img src="~/Content/images/Hot-Sale-HP.jpg" alt="logo" title="Compras" class="img-responsive"/>
            <h1>FACILITAMOS TUS PROCESOS</h1>

        </div>

</body>



